<div class="welcome">
  <div class="content">
    <div class="welcome-body">
      <div class="welcome-leftside">
        <h1 class='big-title'>{{'Welcome-title' | translate}}</h1>
        <p class='subtitle-welcome'>{{'Welcome-subtitle' | translate}}</p>
        <button [routerLink]="['/boards']" class='btn orange'>{{'Welcome-button-create-board' | translate}}</button>
      </div>
      <div class="welcome-rightside"></div>
    </div>
  </div>
</div>

<div class="about">
  <div class="content">
    <div class="about-body">
      <h3 class='title'>{{'proj-men-sys-title' | translate}}
      </h3>
      <p class="subtitle about-subtitle">
        {{'proj-men-sys-text' | translate}}
      </p>
    </div>
  </div>
</div>

<div class="our-benefits">
  <div class="content">
    <div class="our-benefits-body">
      <h3 class='title orange-title'>{{'benefits-block-title' | translate}}</h3>

      <div class="benefits-block">


        <div class="benefit benefit-1 orange">
          <h3 class='title'>{{'benefit-title-flexible' | translate}}
          </h3>
          <p class="subtitle">{{'benefit-text-flexible' | translate}}
          </p>
        </div>

        <div class='column2'>
          <div class="benefit benefit-2 yellow">
            <h3 class='title'>{{'benefit-title-fault-tolerance' | translate}}</h3>
            <p class="subtitle">{{'benefit-text-fault-tolerance' | translate}}</p>
          </div>
          <div class="benefit benefit-3 green">
            <h3 class='title'>{{'benefit-title-manage-team' | translate}}</h3>
            <p class="subtitle">{{'benefit-text-manage-team' | translate}}
            </p>
          </div>
        </div>

        <div class="benefit benefit-4 blue">
          <h3 class='title'>{{'benefit-title-automatic' | translate}}
          </h3>
          <p class="subtitle">{{'benefit-text-automatic' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rsschool">
  <div class="content">
    <div class="rsschool-body">
      <h3 class='title'>{{'rs-school-block-title' | translate}}</h3>
      <div class="rsschool-textbox">
        <div class="rsschool-leftside">
          <span>RS School</span>
          <p>{{'about-rs-school-1' | translate}}</p>
          <br>
          <p>{{'about-rs-school-2' | translate}}</p>
          <br>
          <p>{{'about-rs-school-3' | translate}}</p>
        </div>
        <br>
        <div class="rsschool-rightside">
          <span>{{'Open-Source-title' | translate}}</span>
          <p>{{'Open-Source-text' | translate}}</p>
          <span>{{'Teach-It-title' | translate}}</span>
          <p>{{'Teach-It-text' | translate}}
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="developer">
  <div class="content">
    <div class="developer-body">
      <h3 class='title orange-title developer-title'>{{'about-developer' | translate}}</h3>

      <div class="developer-content">
        <div class='dev-avatar'></div>
        <p class='about-dev'>
          {{'about-developer-text-1' | translate}}
          <br>
          <br>
          {{'about-developer-text-2' | translate}}
        </p>
      </div>
    </div>
  </div>
</div>
